:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background-color: var(--bg-color);
}

.skills h2 {
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skills-box .skills-content {
  flex: 1 1 20rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.skills-content h3 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 0 0 1.5rem;
}

.skills-content .content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.skills-content .content span {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 12rem;
  border: 1px solid var(--main-color);
  border-radius: .3rem;
  font-weight: 600;
  font-size: 1.8rem;
  transition: .3s ease;
}

.skills-content .content span:hover {
  background-color: var(--second-bg-color);
}

.skills-content .content span svg {
  font-size: 4rem;
  color: var(--main-color);
}

/* .skills-box .skills-content {
  position: relative;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  padding: .5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
} */